:root{
/* colors */
    --bg-dk:#1f2937;
    --bg-secondary: #3882f6;
    --fc-primary: #f9faf8;
    --fc-light: #e5e7eb;
/* font sizes */
    --fs-lg: 48px;
    --fs-md: 36px;
    --fs-rg: 24px;
    --fs-sm: 18px;
}
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header,.footer{
    background-color: #1f2937;
    color: var(--fc-primary);
}

.flex{
    display:flex;
}

/* header styles */
.nav{
    padding: 16px;
}
.logo{
    margin-right: auto;
}

.links{
    list-style: none;
    align-items: center;
}

.header-link a{
    text-decoration: none;
    font-size: var(--fs-sm);
    color: var(--fc-light);
    padding-right: 8px;
}

.header-content{
    padding:48px 16px 64px 16px;
    justify-content: space-between;
}
.header-info{
    width: 50%;
}
.header-info h1{
    font-size: var(--fs-lg);
    color: var(--fc-primary);

}
.header-info p{
    font-size:var(--fs-sm);
    color:var(--fc-light);
    margin-bottom: 8px;
}
.header-button{
    background-color: var(--bg-secondary);
    border-radius: 5px;
    color: var(--fc-primary);
    border: 0;
    padding: 4px 24px;
    font-size: var(--fs-sm);
}

